@import 'variables';
@import 'mixin';
@import 'calendar';

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap');

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: $fw-400;
  background-color: $colorPrimary;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0%;
}
